
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LinkShortener</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="~/Views/MainPage/shorten.css" rel="stylesheet">
</head>

<body>
    <script>
        function PostLongURL()
        {
            // get long URL from user
            var longUrl = document.getElementById("inputLink").value

            // send POST request to obtain shortened URL
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/linkshorten/submit", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                url: longUrl
            }));

            // set onload listener to display shortened URL to user when query data is ready
            xhr.onload = function () {
                var data = JSON.parse(this.responseText);
                document.getElementById("outputLink").value = data['short_url'];

            }
        }
    </script>

    <div class="container">
        <center>
            <h2 class="form-signin-heading">Welcome to Link Shortener!</h2>
        </center>
        <form class="form-signin">
            <label for="inputLink" class="sr-only">Link</label>
            <input type="text" id="inputLink" class="form-control" placeholder="Link" required autofocus>
            <label for="outputLink" class="sr-only">Shortened link</label>
            <input type="text" id="outputLink" class="form-control" placeholder="Shortened link" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="PostLongURL()">Shorten</button>
        </form>

    </div> <!-- /container -->
</body>
</html>